<div class="card weekly-digest-card mb-4">
  <div class="card-body">

    <h3 class="section-title">
      📰 Weekly Digest
    </h3>

    <details>
      <summary>
        GeekNews Weekly
      </summary>

      <ul class="mt-3">
        {% for item in site.data.weekly.geeknews %}
        <li>
          <a href="{{ item.url }}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </details>

    <details class="mt-3">
      <summary>
        요즘IT Weekly
      </summary>

      <ul class="mt-3">
        {% for item in site.data.weekly.yozmit %}
        <li>
          <a href="{{ item.url }}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </details>

  </div>
</div>

<hr class="mb-4">
